USE [master]
GO
/****** Object:  Database [SWP391]    Script Date: 10/24/2023 10:41:22 PM ******/
CREATE DATABASE [SWP391]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Landlord]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Landlord](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[civil_id] [varchar](50) NULL,
	[account_points] [int] NULL,
 CONSTRAINT [PK_Landlord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[tenant_id] [int] NULL,
	[landlord_id] [int] NULL,
	[post_id] [int] NULL,
	[status] [nvarchar](50) NULL,
	[order_date] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[price] [int] NULL,
	[type] [int] NULL,
	[area] [int] NULL,
	[NumOfBedrooms] [int] NULL,
	[address] [nvarchar](255) NULL,
	[description] [nvarchar](2000) NULL,
	[landlord_id] [int] NULL,
	[location_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[promotion_id] [int] NULL,
	[post_start_date] [date] NULL,
	[post_end_date] [date] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Image]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[img_url] [nvarchar](max) NULL,
	[img_type] [nvarchar](20) NULL,
 CONSTRAINT [PK_Post_image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promotion_id] [int] IDENTITY(1,1) NOT NULL,
	[discount] [int] NULL,
	[descriptions] [nvarchar](255) NULL,
	[promotion_start_date] [date] NULL,
	[promotion_end_date] [date] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_Location]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_type]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_type](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_typeID] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reporter_id] [int] NULL,
	[property_id] [int] NULL,
	[reported_id] [int] NULL,
	[report_date] [datetime] NULL,
	[categories] [nvarchar](100) NULL,
	[description] [text] NULL,
	[status] [nvarchar](20) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[property_id] [int] NULL,
	[review_date] [date] NULL,
	[rating] [smallint] NULL,
	[review] [nvarchar](300) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[civil_id] [varchar](50) NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[token] [varchar](255) NULL,
	[expired_date] [datetime] NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_Token] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [decimal](19, 0) NOT NULL,
	[payer_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[type] [varchar](20) NULL,
	[transaction_date] [date] NOT NULL,
	[post_id] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_banned]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_banned](
	[id] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[ban_start_date] [datetime] NULL,
	[ban_end_date] [datetime] NULL,
	[status] [varchar](20) NULL,
 CONSTRAINT [PK_User_banned] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_role]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAvatar]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAvatar](
	[user_id] [int] NOT NULL,
	[avatar_url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[hashed_password] [varbinary](80) NULL,
	[salt] [varbinary](50) NULL,
	[role_id] [int] NULL,
	[status] [nvarchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[property_id] [int] NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([id], [first_name], [last_name], [Phone]) VALUES (1, N'Truong', N'Sy', N'0942010101')
INSERT [dbo].[Admin] ([id], [first_name], [last_name], [Phone]) VALUES (11, N'Thang', N'Ha', N'0382721058')
GO
INSERT [dbo].[Landlord] ([id], [first_name], [last_name], [address], [phone], [civil_id], [account_points]) VALUES (5, N'Sy', N'Truong', N'259 Burbank Street, Texas', N'0942565656', NULL, 0)
INSERT [dbo].[Landlord] ([id], [first_name], [last_name], [address], [phone], [civil_id], [account_points]) VALUES (6, N'Tien', N'Pham', NULL, NULL, NULL, NULL)
INSERT [dbo].[Landlord] ([id], [first_name], [last_name], [address], [phone], [civil_id], [account_points]) VALUES (10, N'Thang', N'Ha Quang', NULL, N'0382721058', NULL, 9919)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [tenant_id], [landlord_id], [post_id], [status], [order_date]) VALUES (1, 12, 6, 1, N'processing', CAST(N'2023-10-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [tenant_id], [landlord_id], [post_id], [status], [order_date]) VALUES (2, 12, 6, 2, N'processing', CAST(N'2023-10-19T08:11:42.000' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [tenant_id], [landlord_id], [post_id], [status], [order_date]) VALUES (3, 13, 6, 2, N'approved', CAST(N'2023-10-19T08:27:46.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([id], [name], [price], [type], [area], [NumOfBedrooms], [address], [description], [landlord_id], [location_id], [status], [promotion_id], [post_start_date], [post_end_date]) VALUES (1, N'Nha Tro Hoa Hong', 2000, 1, 20, 2, N'270 Duong Lang, Dong Da, Ha Noi', N'Nhà trọ hiện đại với nội thất sang trọng, gần trung tâm thành phố, thuận lợi cho người làm việc.', 6, 1, N'basic', NULL, CAST(N'2022-07-25' AS Date), CAST(N'2022-08-25' AS Date))
INSERT [dbo].[Post] ([id], [name], [price], [type], [area], [NumOfBedrooms], [address], [description], [landlord_id], [location_id], [status], [promotion_id], [post_start_date], [post_end_date]) VALUES (2, N'Nha Tro Thai Binh', 800, 1, 10, 1, N'27 Duong Song Da, Long Bien, Ha Noi', N'Căn hộ dịch vụ tại trung tâm thương mại, sát bên các quán ăn và cửa hàng mua sắm.

', 6, 1, N'basic', NULL, CAST(N'2022-07-25' AS Date), CAST(N'2022-08-25' AS Date))
INSERT [dbo].[Post] ([id], [name], [price], [type], [area], [NumOfBedrooms], [address], [description], [landlord_id], [location_id], [status], [promotion_id], [post_start_date], [post_end_date]) VALUES (3, N'Nha Tro Co Loan', 1000, 1, 15, 2, N'210 Duong Hai Ba Trung, Cau Giay, Ha Noi', N'Phòng trọ sạch sẽ, thoáng mát, có ban công rộng rãi với tầm nhìn đẹp.

', 7, 1, N'basic', 2, CAST(N'2023-07-26' AS Date), CAST(N'2023-08-26' AS Date))
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Post_Image] ON 

INSERT [dbo].[Post_Image] ([id], [post_id], [img_url], [img_type]) VALUES (1, 1, N'./assets/img/property-1.jpg', N'thumbnails')
INSERT [dbo].[Post_Image] ([id], [post_id], [img_url], [img_type]) VALUES (2, 1, N'./assets/img/main1.jpg', N'main')
INSERT [dbo].[Post_Image] ([id], [post_id], [img_url], [img_type]) VALUES (3, 1, N'./assets/img/main2.jpg', N'main')
SET IDENTITY_INSERT [dbo].[Post_Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([promotion_id], [discount], [descriptions], [promotion_start_date], [promotion_end_date]) VALUES (1, 20, N'20% discount for the first 3 months of rent', CAST(N'2023-06-21' AS Date), CAST(N'2023-07-21' AS Date))
INSERT [dbo].[Promotions] ([promotion_id], [discount], [descriptions], [promotion_start_date], [promotion_end_date]) VALUES (2, 10, N'10% discount for the first month of rent', CAST(N'2023-06-21' AS Date), CAST(N'2023-07-21' AS Date))
INSERT [dbo].[Promotions] ([promotion_id], [discount], [descriptions], [promotion_start_date], [promotion_end_date]) VALUES (3, 50, N'50% for the first month if the length of contract is more than 3 months', CAST(N'2023-06-21' AS Date), CAST(N'2023-07-21' AS Date))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Property_Location] ON 

INSERT [dbo].[Property_Location] ([id], [location_name]) VALUES (1, N'Hanoi')
INSERT [dbo].[Property_Location] ([id], [location_name]) VALUES (2, N'Haiphong')
INSERT [dbo].[Property_Location] ([id], [location_name]) VALUES (3, N'Da Nang')
SET IDENTITY_INSERT [dbo].[Property_Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Property_type] ON 

INSERT [dbo].[Property_type] ([type_id], [type_name]) VALUES (1, N'Nha Tro')
INSERT [dbo].[Property_type] ([type_id], [type_name]) VALUES (2, N'Chung cu')
SET IDENTITY_INSERT [dbo].[Property_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([report_id], [reporter_id], [property_id], [reported_id], [report_date], [categories], [description], [status]) VALUES (1, 12, NULL, NULL, CAST(N'2023-10-15T08:30:39.000' AS DateTime), N'System Bug', N'test1', N'Sent')
INSERT [dbo].[Report] ([report_id], [reporter_id], [property_id], [reported_id], [report_date], [categories], [description], [status]) VALUES (2, 12, NULL, NULL, CAST(N'2023-10-23T10:48:49.000' AS DateTime), N'System Bug', N'Th?ng san d?p trai', N'Sent')
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
INSERT [dbo].[Tenant] ([id], [first_name], [last_name], [address], [phone], [civil_id]) VALUES (2, N'Thang', N'Ha', N'259 Burbank Street, Texas', N'0942121212', NULL)
INSERT [dbo].[Tenant] ([id], [first_name], [last_name], [address], [phone], [civil_id]) VALUES (3, N'Thang', N'Ha', N'259 Burbank Street, Texas', N'0942343434', NULL)
INSERT [dbo].[Tenant] ([id], [first_name], [last_name], [address], [phone], [civil_id]) VALUES (4, N'Thang', N'Ha', N'259 Burbank Street, Texas', N'0942454545', NULL)
GO
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([id], [user_id], [email], [token], [expired_date], [type]) VALUES (1, 12, N'anhnthe176694@fpt.edu.vn', N'uuGvbYE0EBtQ9gQO4irjvQz0W7k', CAST(N'2023-10-12T00:57:05.297' AS DateTime), N'CONFIRMATION')
INSERT [dbo].[Token] ([id], [user_id], [email], [token], [expired_date], [type]) VALUES (2, 13, N'easyanh1606@gmail.com', N'Z64A92aSnaAOrJeUXbvc5usTKTw', CAST(N'2023-10-15T08:47:25.860' AS DateTime), N'CONFIRMATION')
INSERT [dbo].[Token] ([id], [user_id], [email], [token], [expired_date], [type]) VALUES (3, 6, N'tienpvhe163824@fpt.edu.vn', N'-F2l7PWh9nbBLiKWyMLGTwgrLS4', CAST(N'2023-10-19T08:39:44.077' AS DateTime), N'FORGOTPWD')
SET IDENTITY_INSERT [dbo].[Token] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([transaction_id], [amount], [payer_id], [receiver_id], [type], [transaction_date], [post_id]) VALUES (1, CAST(200 AS Decimal(19, 0)), 1, 2, N'PAY', CAST(N'2023-06-23' AS Date), NULL)
INSERT [dbo].[Transactions] ([transaction_id], [amount], [payer_id], [receiver_id], [type], [transaction_date], [post_id]) VALUES (2, CAST(200 AS Decimal(19, 0)), 1, 3, N'PAY', CAST(N'2022-05-23' AS Date), 1)
INSERT [dbo].[Transactions] ([transaction_id], [amount], [payer_id], [receiver_id], [type], [transaction_date], [post_id]) VALUES (3, CAST(200 AS Decimal(19, 0)), 2, 4, N'PAY', CAST(N'2023-05-23' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[User_role] ON 

INSERT [dbo].[User_role] ([id], [role_name]) VALUES (1, N'Tenant')
INSERT [dbo].[User_role] ([id], [role_name]) VALUES (2, N'Landlord')
INSERT [dbo].[User_role] ([id], [role_name]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[User_role] OFF
GO
INSERT [dbo].[UserAvatar] ([user_id], [avatar_url]) VALUES (1, N'./assets/img/default-avt.png')
INSERT [dbo].[UserAvatar] ([user_id], [avatar_url]) VALUES (2, N'./assets/img/default-avt.png')
INSERT [dbo].[UserAvatar] ([user_id], [avatar_url]) VALUES (3, N'./assets/img/default-avt.png')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [email], [hashed_password], [salt], [role_id], [status]) VALUES (1, N'sytthe176623@fpt.edu.vn', 0x0001E240, 0x0001E240, 3, N'VER')
INSERT [dbo].[Users] ([id], [email], [hashed_password], [salt], [role_id], [status]) VALUES (2, N'tungdthe176669@fpt.edu.vn', 0x0001E240, 0x0001E240, 1, N'VER')
INSERT [dbo].[Users] ([id], [email], [hashed_password], [salt], [role_id], [status]) VALUES (3, N'antnthe176694@fpt.edu.vn', 0x0001E240, 0x0001E240, 1, N'VER')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([id], [user_id], [property_id]) VALUES (1, 2, 1)
INSERT [dbo].[Wishlist] ([id], [user_id], [property_id]) VALUES (2, 2, 2)
INSERT [dbo].[Wishlist] ([id], [user_id], [property_id]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
ALTER TABLE [dbo].[UserAvatar] ADD  DEFAULT ('./assets/img/default-avt.png') FOR [avatar_url]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Landlord]  WITH CHECK ADD  CONSTRAINT [FK_Landlord_User] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Landlord] CHECK CONSTRAINT [FK_Landlord_User]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Landlord] FOREIGN KEY([landlord_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Landlord]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Post] FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Post]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tenant] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tenant]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Landlord] FOREIGN KEY([landlord_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Landlord]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Location] FOREIGN KEY([location_id])
REFERENCES [dbo].[Property_Location] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Location]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PropertyType] FOREIGN KEY([type])
REFERENCES [dbo].[Property_type] ([type_id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PropertyType]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Post] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Promotions_Post]
GO
ALTER TABLE [dbo].[Post_Image]  WITH CHECK ADD  CONSTRAINT [FK_Post_image_Post] FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Post_Image] CHECK CONSTRAINT [FK_Post_image_Post]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Post] FOREIGN KEY([property_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Post]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Tenant1] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Tenant1]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Tenant2] FOREIGN KEY([reported_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Tenant2]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Post] FOREIGN KEY([property_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Post]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Tenant] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Tenant]
GO
ALTER TABLE [dbo].[Tenant]  WITH CHECK ADD  CONSTRAINT [FK_Tenant_User] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Tenant] CHECK CONSTRAINT [FK_Tenant_User]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Admin] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Admin]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Landlord] FOREIGN KEY([payer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Landlord]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Post] FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Post]
GO
ALTER TABLE [dbo].[User_banned]  WITH CHECK ADD  CONSTRAINT [FK_User_banned_id] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_banned] CHECK CONSTRAINT [FK_User_banned_id]
GO
ALTER TABLE [dbo].[UserAvatar]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[User_role] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Post] FOREIGN KEY([property_id])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Post]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Tenant] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Tenant]
GO
/****** Object:  Trigger [dbo].[trg_UpdateUserAvatar]    Script Date: 10/24/2023 10:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateUserAvatar]
ON [dbo].[Users]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert a new record into UserAvatar for the newly inserted User
    INSERT INTO [dbo].[UserAvatar] ([user_id], [avatar_url])
    SELECT [id], './assets/img/default-avt.png'
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [trg_UpdateUserAvatar]
GO
USE [master]
GO
